@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #0B0D17;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  overflo-x: hidden;
  width: 100vw;
}

.preload * {
  transition: none !important;
}

.explore {
  align-items: center;
  align-self: flex-end;
  aspect-ratio: 1/1;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  max-width: 17.125rem;
  position: relative;
  text-decoration: none;
  width: 50vw;
}
.explore::after {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  width: 100%;
  z-index: -1;
}
.explore:hover::after {
  transform: scale(1.5);
}
.explore h4 {
  color: #0B0D17;
}

.stats {
  display: flex;
  width: 100%;
}
.stats div {
  margin-right: 2vw;
}

.switches {
  align-self: start;
  margin-top: 20%;
}
.switches ul {
  display: flex;
  justify-content: space-between;
  width: 8.25rem;
}
.switches ul li {
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 50%;
  height: 0.9375rem;
  width: 0.9375rem;
}
.switches ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.switches ul li.active {
  background-color: white;
}
.switches ul li a {
  color: transparent;
}

.tabs {
  align-self: start;
  height: 2.125rem;
  max-width: 17.8125rem;
  margin-top: 20%;
  width: 100%;
}
.tabs ul {
  justify-content: space-between;
  display: flex;
  height: 100%;
}
.tabs ul li {
  height: 100%;
}
.tabs ul li a {
  align-items: center;
  border-bottom: transparent 0.1875rem solid;
  color: #D0D6F9;
  display: flex;
  height: 100%;
}
.tabs ul li a:hover {
  border-bottom: rgba(255, 255, 255, 0.5) 0.1875rem solid;
  cursor: pointer;
}
.tabs ul li a.active {
  color: #FFFFFF;
  border-bottom: #FFFFFF 0.1875rem solid;
}

@media only screen and (max-width: 56.25em) {
  .explore, .tabs, .switches {
    align-self: center;
  }
  .stats {
    justify-content: center;
  }
  .switches {
    margin-top: 10%;
  }
  .tabs {
    margin-top: 0;
  }
}
@media only screen and (max-width: 40.625em) {
  .stats {
    flex-direction: column;
  }
  .stats div {
    margin-bottom: 10%;
  }
}
main {
  display: flex;
  justify-content: space-around;
}
main.home {
  align-items: flex-end;
}
main.home, main.crew {
  height: 100%;
}
main.crew {
  justify-content: flex-start;
}
main.crew section {
  width: auto;
}
main.crew section article {
  max-width: initial;
}
main.crew section article h4 {
  opacity: 0.5;
  margin-top: 10%;
}
main.crew section article h3 {
  margin-bottom: 5%;
}
main.crew section article p {
  max-width: 28.125rem;
}
main section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10%;
  width: 30%;
}
main section.info-card {
  margin: 0 10%;
}
main section.info-card h5 {
  align-self: flex-start;
  margin-bottom: 15%;
}
main section.info-card h5 strong {
  margin-right: 1vw;
  opacity: 0.25;
}
main section.info-card .planet {
  max-width: 27.8125rem;
  width: 40vw;
}
main section.crewmate {
  align-self: flex-end;
  align-items: flex-start;
  height: 100%;
  margin: 0;
}
main section.crewmate img {
  height: 100%;
}
main section.crewmate h5 {
  display: none;
}
main section article {
  align-self: flex-start;
  max-width: 28.125rem;
}
main section article hr {
  background-color: #383B4B;
  border: none;
  height: 0.0625rem;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 56.25em) {
  main, main.home {
    align-items: center;
    flex-direction: column;
    justify-content: start;
  }
  main section, main.home section {
    width: 100%;
  }
  main section.info-card, main.home section.info-card {
    margin: 5% 10%;
  }
  main section.info-card h5, main.home section.info-card h5 {
    align-self: center;
    margin-bottom: 10%;
  }
  main section article, main.home section article {
    align-self: center;
    text-align: center;
  }
  main.crew, main.home.crew {
    justify-content: flex-start;
  }
  main.crew section, main.home.crew section {
    padding: 10%;
    width: 100%;
  }
  main.crew section h5, main.home.crew section h5 {
    align-self: flex-start;
    margin: 0;
  }
  main.crew section article h4, main.home.crew section article h4 {
    margin-top: 5%;
  }
  main.crew section article h3, main.home.crew section article h3 {
    margin-bottom: 2%;
  }
  main.crew section article p, main.home.crew section article p {
    max-width: initial;
  }
  main.crew section.info-card, main.home.crew section.info-card {
    padding-bottom: 0;
    padding-top: 0;
  }
  main.crew section.info-card.crewmate, main.home.crew section.info-card.crewmate {
    align-self: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 40.625em) {
  main section {
    padding: 0 10%;
  }
  main.crew {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  main.crew section.info-card {
    flex-direction: column-reverse;
    margin-top: 0;
  }
  main.crew section.info-card h5 {
    display: none;
  }
  main.crew section.info-card.crewmate {
    border-bottom: rgba(255, 255, 255, 0.2) 0.0625rem solid;
    flex-direction: column;
    height: auto;
    width: 70%;
  }
  main.crew section.info-card.crewmate img {
    max-height: 13.9375rem;
  }
  main.crew section.info-card.crewmate h5 {
    align-self: center;
    display: block;
    margin-bottom: 10%;
  }
}
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
  position: relative;
}
nav .burger {
  display: none;
}
nav::before {
  background-color: rgba(255, 255, 255, 0.25);
  content: "";
  height: 0.0625rem;
  left: 9.875rem;
  position: absolute;
  top: 50%;
  right: 43.75rem;
  z-index: 2;
}
nav img {
  margin: 0 3.4375rem;
  height: 3rem;
  width: 3rem;
}
nav ul {
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(0.3125rem);
          backdrop-filter: blur(0.3125rem);
  display: flex;
  height: 6rem;
  padding: 0 7.75rem;
  transform-origin: top;
}
nav ul li {
  height: 100%;
  margin: 0 0.6875rem;
  opacity: 100%;
  text-align: center;
}
nav ul li a {
  align-items: center;
  border-bottom: transparent 0.1875rem solid;
  display: flex;
  height: 100%;
  text-decoration: none;
}
nav ul li a:hover {
  border-bottom: rgba(255, 255, 255, 0.5) 0.1875rem solid;
}
nav ul li a.active {
  border-bottom: #FFFFFF 0.1875rem solid;
}
nav ul li a strong {
  margin-right: 0.6875rem;
}

@media only screen and (max-width: 56.25em) {
  nav {
    margin-top: 0;
  }
  nav::before {
    display: none;
  }
  nav ul {
    padding: 0 5vw;
  }
  nav ul li {
    margin: 0 1vw;
  }
  nav ul li a strong {
    margin-right: 1vw;
  }
}
@media only screen and (max-width: 40.625em) {
  nav {
    margin-top: 2.0625rem;
  }
  nav .burger {
    background-color: transparent;
    background-image: url(assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    display: inline-block;
    height: 2.5rem;
    margin-right: 11vw;
    width: 2.5rem;
  }
  nav .burger:hover {
    cursor: pointer;
    opacity: 70%;
  }
  nav ul {
    flex-direction: column;
    height: auto;
    padding: 5vw;
    position: absolute;
    right: 0;
    top: 100%;
    transition: all 0.5s;
    transform: scaleY(0);
  }
  nav ul li {
    margin: 1vw;
  }
  nav ul.active {
    transform: scaleY(1);
  }
}
* {
  line-height: 1.5;
  color: #FFFFFF;
  text-transform: uppercase;
}

h1, h2, h3, h4, .sub1 {
  font-family: "Bellefair", serif;
}

h5, .sub2, nav, .tabs {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

.body-text {
  color: #D0D6F9;
  font-family: "Barlow", sans-serif;
  font-size: clamp(0.9375rem, calc(0.8919902913rem + 0.1941747573vw), 1.125rem);
  text-transform: initial;
}

h1 {
  font-size: clamp(5rem, calc(3.9381067961rem + 4.5307443366vw), 9.375rem);
}

h2 {
  font-size: clamp(3.5rem, calc(2.8325242718rem + 2.8478964401vw), 6.25rem);
}

h3 {
  font-size: clamp(1.5rem, calc(1.0145631068rem + 2.071197411vw), 3.5rem);
}

h4 {
  font-size: clamp(1.25rem, calc(1.067961165rem + 0.7766990291vw), 2rem);
}

h5 {
  color: #D0D6F9;
  letter-spacing: 0.296875rem;
  font-size: clamp(1rem, calc(0.817961165rem + 0.7766990291vw), 1.75rem);
}

nav, .tabs {
  letter-spacing: 0.16875rem;
  font-size: clamp(0.875rem, calc(0.8446601942rem + 0.1294498382vw), 1rem);
}

.sub1 {
  font-size: 1.75rem;
}

.sub2 {
  letter-spacing: 0.146875rem;
  font-size: 0.875rem;
}/*# sourceMappingURL=styles.css.map */